<table *ngIf="zaUpisPage">
  <thead>
    <tr>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Ulica</th>
      <th>Broj</th>
      <th>Grad</th>
      <th>Država</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let upis of zaUpisPage.content">
      <td>{{ upis.ime }}</td>
      <td>{{ upis.prezime }}</td>
      <td><input [formControlName]="upis.userId + '_ulica'" /></td>
      <td><input [formControlName]="upis.userId + '_broj'" /></td>
      <td><input [formControlName]="upis.userId + '_grad'" /></td>
      <td><input [formControlName]="upis.userId + '_drzava'" /></td>
    </tr>
  </tbody>
</table>

<button (click)="loadPrevious()" [disabled]="zaUpisPage?.first">Prethodna</button>
<button (click)="loadNext()" [disabled]="zaUpisPage?.last">Sledeća</button>
<button (click)="submitAdrese()">Pošalji</button>

