<div 
  class="min-h-screen bg-cover bg-center bg-fixed flex flex-col items-center justify-center relative"
  style="background-image: url('pozadina.jpg');"
>
  <!-- Grb u pozadini, iznad forme -->
  <div class="absolute top-16 flex justify-center w-full pointer-events-none">
    <img src="slika1.png" alt="Grb" class="w-48 h-auto opacity-30 drop-shadow-2xl">
  </div>
  <div class="relative z-10 mt-50 w-full"></div>
  <div class="container">
    <h2>Obaveštenja</h2>

    <div class="dodaj">
      <h3>Dodaj novo obaveštenje</h3>
      <input type="text" [(ngModel)]="novo.naslov" placeholder="Naslov">
      <textarea [(ngModel)]="novo.tekst" placeholder="Tekst"></textarea>
      <button (click)="dodaj()">Dodaj</button>
    </div>

  <hr>

  <div *ngIf="obavestenja.length > 0">
    <ul>
      <li *ngFor="let o of obavestenja">
        <div *ngIf="uIzmeniId !== o.id">
          <strong>{{ o.naslov }}</strong> – {{ o.tekst }}<br>
          <small>{{ o.datumPostavljanja | date: 'short' }}</small>
          <br>
          <button (click)="pokreniIzmenu(o)">Izmeni</button>
          <button (click)="obrisi(o.id)">Obriši</button>
        </div>

        <div *ngIf="uIzmeniId === o.id">
          <input type="text" [(ngModel)]="izmena.naslov">
          <textarea [(ngModel)]="izmena.tekst"></textarea>
          <button (click)="sacuvajIzmenu()">Sačuvaj</button>
          <button (click)="otkaziIzmenu()">Otkaži</button>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="obavestenja.length === 0">
    <p>Nema obaveštenja za prikaz.</p>
  </div>
</div>
</div>
