<div 
  class="min-h-screen bg-cover bg-center bg-fixed flex flex-col items-center justify-center relative"
  style="background-image: url('pozadina.jpg');"
>
  <!-- Grb u pozadini, iznad forme -->
  <div class="absolute top-16 flex justify-center w-full pointer-events-none">
    <img src="slika1.png" alt="Grb" class="w-48 h-auto opacity-30 drop-shadow-2xl">
  </div>

<div class="container bg-transparent border-transparent">
  <h2>Studenti na predmetu ID: {{ predmetId }}</h2>

  <ul *ngIf="studenti.length > 0; else nemaStudenata">
    <li *ngFor="let s of studenti">
      <strong>Indeks:</strong> {{ s.student.brojIndeksa }} |
      <strong>Godina upisa:</strong> {{ s.student.godinaUpisa }} |
      <strong>Prosecna ocena:</strong> {{ s.student.prosecnaOcena }} |
      <strong>ESPB:</strong> {{ s.student.osvojeniESPB }}
    </li>
  </ul>

  <ng-template #nemaStudenata>
    <p>Nema studenata upisanih na ovaj predmet.</p>
  </ng-template>
</div>
</div>
<footer class="w-full bg-gray-900 text-white py-2 text-center border border-transparent">
 Univerzitet © 2025 
</footer>