<div class="max-w-4xl mx-auto p-4 bg-white shadow rounded">
  <h2 class="text-xl font-bold mb-4">Pretraga Studenata</h2>

  <div class="flex gap-4 mb-6">
  <button (click)="xmlExport()" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
    Export XML
  </button>

  <button (click)="pdfExport()" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700">
    Export PDF
  </button>
</div>

  <form [formGroup]="searchForm" class="grid grid-cols-2 gap-4 mb-6">
    <input formControlName="ime" type="text" placeholder="Ime" class="border px-3 py-2 rounded" />
    <input formControlName="prezime" type="text" placeholder="Prezime" class="border px-3 py-2 rounded" />
    <input formControlName="godinaUpisa" type="text" placeholder="Godina upisa" class="border px-3 py-2 rounded" />
    <input formControlName="email" type="text" placeholder="Email" class="border px-3 py-2 rounded" />
    <input formControlName="prosecnaOcena" type="text" placeholder="Prosečna ocena" class="border px-3 py-2 rounded" />
    <input formControlName="osvojeniESPB" type="text" placeholder="Osvojeni ESPB" class="border px-3 py-2 rounded" />
    <input formControlName="studiskiId" type="text" placeholder="Studijski ID" class="border px-3 py-2 rounded" />
  </form>

  <h3 class="text-lg font-semibold mb-2">Rezultati:</h3>
  <ul *ngIf="filtrirani.length > 0; else nemaRezultata" class="space-y-2">
    <li *ngFor="let s of filtrirani" class="p-3 border rounded">
      <strong>{{ s.ime }} {{ s.prezime }}</strong> – Email: {{ s.email }}, ESPB: {{ s.osvojeniESPB }}, Ocena: {{ s.prosecnaOcena }}
    </li>
  </ul>

  <ng-template #nemaRezultata>
    <p class="text-gray-600">Nema pronađenih studenata.</p>
  </ng-template>
</div>

