<div 
  class="min-h-screen bg-cover bg-center bg-fixed flex flex-col items-center justify-center relative"
  style="background-image: url('pozadina.jpg');"
>
  <!-- Grb u pozadini, iznad forme -->
  <div class="absolute top-16 flex justify-center w-full pointer-events-none">
    <img src="slika1.png" alt="Grb" class="w-48 h-auto opacity-30 drop-shadow-2xl">
  </div>

<div *ngIf="program" class="relative z-10 w-full max-w-md p-6 mt-55 bg-white/70 border border-white/50 rounded-2xl shadow-xl backdrop-blur-md">
  <h2 class="text-2xl font-bold mb-2">{{ program.naziv }}</h2>
  <p class="text-gray-700">{{ program.opis }}</p>
  <p class="text-gray-700">Dekan: {{ program.rukovodioc.ime}}{{program.rukovodioc.prezime}},<br> {{program.rukovodioc.biografija}}</p>
</div>

<div class="relative z-10 w-full max-w-md p-6 mt-2 bg-white/70 border border-white/50 rounded-2xl shadow-xl backdrop-blur-md">
  <h3 class="text-xl font-semibold mb-4">Predmeti</h3>

  <div *ngIf="predmeti.length > 0; else noPredmeti" class="space-y-4">
    <div *ngFor="let predmet of predmeti" class="bg-gray-50 p-4 rounded shadow">
      <div
        class="cursor-pointer hover:bg-blue-50 p-2 rounded transition"
        (click)="loadSilabuse(predmet.id)"
      >
        <h4 class="text-lg font-medium text-blue-700">{{ predmet.naziv }}</h4>
        <p class="text-gray-600">{{ predmet.opis}}</p>
        <p class="text-gray-600">Semestar: {{ predmet.semestar}}</p>
        <p class="text-gray-600">ESPB Bodovi:{{ predmet.esbp}}</p>
      </div>

      <div *ngIf="idPredmet === predmet.id && silabusi.length > 0" class="mt-4 ml-4 border-l-2 border-blue-300 pl-4 space-y-2">
        <h5 class="text-md font-semibold text-blue-600">Silabusi:</h5>
        <div *ngFor="let silabus of silabusi" class="bg-white p-3 rounded shadow text-sm">
          <p class="text-gray-600">{{ silabus.sadrzaj }}</p>
        </div>
        <div *ngFor="let materijal of nastavniMaterijali" class="bg-white p-3 rounded shadow text-sm">
          <p class="text-gray-600">{{ materijal.opis}}</p>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noPredmeti>
    <p class="text-gray-500">Nema predmeta za ovaj program.</p>
  </ng-template>
</div>
</div>
<footer class="w-full bg-gray-900 text-white py-2 text-center border border-transparent">
 Univerzitet © 2025 
</footer>