<div 
  class="min-h-screen bg-cover bg-center bg-fixed flex flex-col items-center justify-center relative"
  style="background-image: url('pozadina.jpg');"
>
  <!-- Grb u pozadini, iznad forme -->
  <div class="absolute top-16 flex justify-center w-full pointer-events-none">
    <img src="slika1.png" alt="Grb" class="w-48 h-auto opacity-30 drop-shadow-2xl">
  </div>

<div class="relative z-10 w-full max-w-md p-6 mt-10 bg-white/100 border border-white/50 rounded-2xl shadow-xl backdrop-blur-md">
  <h2>Termini</h2>

  <!-- Dodavanje -->
  <div class="dodaj">
    <h3>Dodaj novi termin</h3>
    <input type="text" [(ngModel)]="noviTermin.tema" placeholder="Tema" class="border border-gray-400 rounded-2xl">
    <input type="datetime-local" [(ngModel)]="noviTermin.datum" [min]="minDateTime" class="border border-gray-400 rounded px-2 py-1">
    <button (click)="dodajTermin()">Dodaj</button>
  </div>

  <hr>

  <!-- Lista termina -->
  <div *ngIf="termini.length > 0">
    <h3>Lista termina</h3>
    <ul>
      <li *ngFor="let t of termini">
        <div *ngIf="uIzmeniId !== t.id">
          <strong>{{ t.tema }}</strong> – {{ t.datum | date: 'dd.MM.yyyy HH:mm' }}
          <button (click)="pokreniIzmenu(t)">Izmeni</button>
          <button (click)="obrisiTermin(t.id)">Obriši</button>
        </div>

        <div *ngIf="uIzmeniId === t.id">
          <input type="text" [(ngModel)]="izmenaTermin.tema">
          <input type="datetime-local" [(ngModel)]="izmenaTermin.datum" [min]="minDateTime">
          <button (click)="sacuvajIzmenu()">Sačuvaj</button>
          <button (click)="otkaziIzmenu()">Otkaži</button>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="termini.length === 0">
    <p>Nema termina za prikaz.</p>
  </div>
</div>
</div>

<footer class="w-full bg-gray-900 text-white py-2 text-center border border-transparent">
 Univerzitet © 2025 
</footer>