<h2>Kreiranje rasporeda kolokvijuma</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<label>Izaberi program:
  <select [(ngModel)]="izabraniProgramId" (change)="onProgramChange()">
    <option *ngFor="let p of programi" [value]="p.id">{{ p.naziv }}</option>
  </select>
</label>

<table *ngIf="predmeti.length > 0" border="1" cellpadding="5">
  <thead>
    <tr>
      <th>Predmet</th>
      <th>Naziv</th>
      <th>Učionica</th>
      <th>Datum i vreme</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let predmet of predmeti; let i = index">
      <td>{{ predmet.naziv }}</td>
      <td>
      <input type="text" [(ngModel)]="kolokvijumi[i].naziv" />
      </td>
      <td>
        <input type="text" [(ngModel)]="kolokvijumi[i].ucionica" placeholder="npr. A1" />
      </td>
      <td>
        <input type="datetime-local" [(ngModel)]="kolokvijumi[i].datum" />
      </td>
    </tr>
  </tbody>
</table>

<button (click)="posalji()" [disabled]="!kolokvijumi.length">Sačuvaj raspored kolokvijuma</button>

