.container {
  padding: 20px;
}

button {
  margin: 0.5rem 10px;
  padding: 0.4rem 0.8rem;
   background-color: rgba(255, 255, 255, 0.5); /* 0.5 = 50% providnosti */
  border: 1px solid white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  
}
button:hover {
  background-color: white;
}

