<div 
  class="min-h-screen bg-cover bg-center bg-fixed flex flex-col items-center justify-start relative pt-40"
  style="background-image: url('pozadina.jpg');"
>
  <!-- Grb iznad tabele -->
  <div class="absolute top-12 flex justify-center w-full pointer-events-none">
    <img src="slika1.png" alt="Grb" class="w-44 h-auto opacity-40 drop-shadow-2xl">
  </div>

<div class="max-w-md mx-auto p-6 bg-white shadow-md rounded mt-10">
  <h2 class="text-xl font-bold mb-4">Dodaj Korisnika</h2>

  <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
    <input formControlName="ime" type="text" placeholder="Ime" class="w-full mb-2 border px-3 py-2 rounded" />

    <input formControlName="prezime" type="text" placeholder="Prezime" class="w-full mb-2 border px-3 py-2 rounded" />

    <input formControlName="email" type="email" placeholder="Email" class="w-full mb-2 border px-3 py-2 rounded" />

    <input formControlName="password" type="password" placeholder="Lozinka" class="w-full mb-2 border px-3 py-2 rounded" />

    <div formGroupName="adresa">
      <input formControlName="ulica" type="text" placeholder="Ulica" class="w-full mb-2 border px-3 py-2 rounded" />

      <input formControlName="broj" type="text" placeholder="Broj" class="w-full mb-2 border px-3 py-2 rounded" />

      <input formControlName="grad" type="text" placeholder="Grad" class="w-full mb-2 border px-3 py-2 rounded" />

      <input formControlName="drzava" type="text" placeholder="Država" class="w-full mb-4 border px-3 py-2 rounded" />
    </div>

    <input formControlName="status" type="text" placeholder="Status" class="w-full mb-4 border px-3 py-2 rounded" />

    <input formControlName="biografija" type="text" placeholder="Biografija" class="w-full mb-4 border px-3 py-2 rounded" />

    <button type="submit"
      class="bg-blue-600 hover:bg-blue-700 text-white font-semibold px-4 py-2 rounded w-full"
      [disabled]="adminForm.invalid">
      Dodaj Korisnika
    </button>

    <div *ngIf="error" class="text-red-600 mt-3">
      {{ error }}
    </div>
  </form>
</div>
</div>
<footer class="w-full bg-gray-900 text-white py-2 text-center border border-transparent">
 Univerzitet © 2025 
</footer>