<div 
  class="min-h-screen bg-cover bg-center bg-fixed flex flex-col items-center justify-start relative pt-32"
  style="background-image: url('pozadina.jpg');"
>
  <!-- Grb iznad tabele, centriran -->
  <div class="absolute top-12 flex justify-center w-full pointer-events-none">
    <img src="slika1.png" alt="Grb" class="w-48 h-auto opacity-40 drop-shadow-2xl">
  </div>
<div class="p-6 mt-20 ">
  <form class="mb-50 px-20 bg-gray-100 text-black-700 rounded">
    <h1 class="text-2xl font-bold mb-4">Lista Predmeta</h1>

    <ul class="bg-gray-200 space-y-10 ">
      <li class="p-5 bg-gray-100 rounded" *ngFor="let predmet of predmetList" (click)="selectedPredmet = predmet; getObavjestenja(predmet)"
          [class.selected]="selectedPredmet?.id === predmet.id"
          style="cursor:pointer; padding:5px; border:1px solid #ccc; margin-bottom:4px;">
        {{ predmet.naziv }}
        
      </li>
    </ul>
 

  <div *ngIf="selectedPredmet" class="mt-4 p-4 border rounded bg-gray-50">
    <h2 class="text-xl font-semibold mb-2">Obavještenja za: {{ selectedPredmet.naziv }}</h2>

    <div *ngIf="obavjestenja.length > 0; else noNotifications">
      <ul>
        <li *ngFor="let o of obavjestenja" class="mb-1">
          <p><strong>{{ o.naslov }}</strong></p>
          <p>{{ o.tekst }}</p>
          <p><small>{{ o.datumPostavljanja | date:'short' }}, {{ o.ime }} {{ o.prezime }}</small></p>
        </li>
      </ul>
    </div>
    <ng-template #noNotifications>
      <p>Nema obavještenja za ovaj predmet.</p>
    </ng-template>
    <h2 class="text-xl font-semibold mb-2">Kolokvijumi za: {{ selectedPredmet.naziv }}</h2>

    <div *ngIf="rezultatiKolokvijuma.length > 0; else noNotifications">
      <ul>
        <li *ngFor="let o of rezultatiKolokvijuma" class="mb-1">
          <p><strong>{{ o.naziv}}</strong></p>
          <p><strong>{{ o.bodovi}}</strong></p>
        </li>
      </ul>
    </div>
    <ng-template #noNotifications>
      <p>Nema rezultata za ovaj predmet.</p>
    </ng-template>
  </div>

  <div *ngIf="error" class="text-red-600 mt-4">
    {{ error }}
  </div>
  </form>
</div>
</div>
<footer class="w-full bg-gray-900 text-white py-2 text-center border border-transparent">
 Univerzitet © 2025 
</footer>