<div>
  <label for="rokSelect">Odaberi ispitni rok:</label>
  <select id="rokSelect"
          [(ngModel)]="izabraniRokId"
          (change)="onRokChange()">
    <option value="" disabled selected>-- Izaberi rok --</option>
    <option *ngFor="let rok of rokovi" [value]="rok.id">
      {{ rok.naziv }} ({{ rok.datumPocetka | date:'dd.MM.yyyy' }} - {{ rok.datumKraja | date:'dd.MM.yyyy' }})
    </option>
  </select>
</div>
<br>

<table >
  <thead>
    <tr>
      <th>Student</th>
      <th>Bodovi</th>
      <th>Ocena</th>
      <th>Kolokvijumi</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let red of tabela; let i = index">
      <tr>
        <td>
          {{ studenti[i]?.ime }} {{ studenti[i]?.prezime }} (Indeks:{{studenti[i]?.brojIndeksa}})
        </td>
        <td>
          <input type="number"
                 [(ngModel)]="red.bodovi"
                 [disabled]="!dozvoljenUnos">
        </td>
        <td>
          <input type="number"
                 [(ngModel)]="red.ocena"
                 [disabled]="!dozvoljenUnos">
        </td>
        <td>
          <button
                  (click)="ucitajKolokvijume(i, red.studentId)">
            {{ openedRow === i ? 'Sakrij' : 'Prikaži' }} kolokvijume
          </button>
        </td>
      </tr>

      <tr *ngIf="openedRow === i">
        <td colspan="4">
          <div *ngIf="kolokvijumiMapa[i]; else loadingOrEmpty">
            <div *ngIf="kolokvijumiMapa[i].length > 0; else noKolokvijumi">
              <div *ngFor="let kol of kolokvijumiMapa[i]">
                <label>
                  <input type="checkbox"
                         [checked]="red.kolokvijumiId.includes(kol.id!)"
                         (change)="toggleKolokvijum(red, kol.id!, $event)">
                  {{ kol.naziv }} Datum:{{kol.datum}} ({{ kol.bodovi }} bodova)
                </label>
              </div>
            </div>
          </div>
          <ng-template #noKolokvijumi>
            <em>Nema kolokvijuma za ovog studenta.</em>
          </ng-template>

          <ng-template #loadingOrEmpty>
            <em>Učitavanje...</em>
          </ng-template>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<button (click)="sacuvaj()">Sačuvaj</button>

